<!DOCTYPE html>
<html lang="en">
<head>
  	<title><%= page_title %></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="<%= author %>">
</head>
<body>
    <!--% include templates/header.ejs%-->
    <script src="/bundle.js"></script>
    <div class="container">
    
        <div class="starter-template">
            <%- body %>
        </div>
    
    </div><!-- /.container -->
    
    <!--% include templates/footer.ejs%-->

</body>
</html>